.banner-container {
   display: flex;
   justify-content: stretch;
   align-items: stretch;
   width: 100% !important; /* Asegura que ocupe toda la pantalla */
   height: 90vh;
   position: relative;
   object-fit: cover !important;
   object-position: center !important;
   max-width: none !important;
}
@keyframes grow {
   from {
      transform: scale(0.9);
      opacity: 0;
   }
   to {
      transform: scale(1);
      opacity: 1;
   }
}
.banner-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   max-width: none;
   animation: grow 2.5s ease-in-out; /* Aplica el efecto de crecimiento */
}
.banner-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad (0 = transparente, 1 = negro total) */
   z-index: 1; /* Asegura que esté sobre la imagen */
}
.banner-text {
   position: absolute;
   top: 35%;               /* Lo posiciona en el centro vertical */
   left: 50%;              /* Lo posiciona en el centro horizontal */
   transform: translate(-50%, -50%) !important; /* Centra el texto completamente */
   text-align: center;     /* Asegura que el texto esté centrado */
   color: var(--verde-color);           /* Asegura que el texto sea visible */
   width: 100%;            /* Asegura que el contenido no se corte */
   font-size: 40px;
   line-height: 45px;
   z-index: 3;
}

.ctaMain {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position:absolute;
   top: 60%;               /* Lo posiciona en el centro vertical */
   left: 50%;              /* Lo posiciona en el centro horizontal */
   transform: translate(-50%, -50%) !important; /* Centra el texto completamente */
   text-align: center;     /* Asegura que el texto esté centrado */
   z-index: 3;
   width: 100%;
}
.ctaMain p {
   font-size: 21px;
   font-weight: 500;
   color: var(--durazno-color);
   width: 620px;
   line-height: 25px;
}
.cta-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   text-align: center;     /* Asegura que el texto esté centrado */
   z-index: 3;
   color: white;
}

.cta-button {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   padding: 7px 10px;
   font-size: 15px;
   font-weight: 500;
   color: white;
   background-color: #ff6b6b; /* Color principal */
   border-radius: 8px;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
}

.cta-button:hover {
   background-color: #e63946; /* Color más oscuro al pasar el mouse */
}

.cta-button.secondary {
   background-color: transparent;
   border: 2px solid white;
}

.cta-button.secondary:hover {
   background-color: white;
   color: #e63946;
}


@media (max-width: 768px) {
   .banner-container {
      height: 85vh;
   }
   .banner-text {
      width: 700px;
      top: 40%;
   }
}


@media (max-width: 480px) {
   .banner-text {
      font-size: 30px;
      width: 80%;
      top: 35%;
      line-height: 35px;
   }
   .ctaMain p {
      font-size: 18px;
      width: 95%;
   }
   .cta-buttons {
      flex-direction: column;;
   }
}