.post-container {
   max-width: 800px;
   margin: auto;
   padding: 20px;
   text-align: center;
   border: solid 1px black;
   border-radius: 5px;
}

.post-container img {
   border-radius: 10px;
   margin: 20px 0;
}

.post-content {
   text-align: left;
   line-height: 1.6;
}

.postRedes {
   padding-top: 50px;
   display: flex;
   justify-content: space-evenly;
}