.footer-container {
   position: relative; /* Para que el overlay se posicione dentro */
   background-image: url("https://res.cloudinary.com/daoavxvau/image/upload/v1704738921/Mentalis/WhatsApp_Image_2024-01-08_at_15.12.32_4_wxsxgr.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: #222;
   color: white;
   padding: 50px 0;
   display: flex;
   justify-content: center;
}

/* Overlay */
.footer-container::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según necesites */
   z-index: 1;
}

/* Asegurar que el contenido del footer esté sobre el overlay */
.footer-content {
   position: relative;
   z-index: 2; /* Se coloca por encima del overlay */
   width: 80%;
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}


.footer-message {
   font-size: 20px;
   font-family: var(--fuente-texto);
   width: 50%;
}

.footer-form {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   width: 40%;
}


@media (max-width: 768px) {
   .footer-content {
      background-attachment: scroll; /* En móviles, la imagen se desplazará normalmente */
   }
}
