.nosotrosHome {
      padding-bottom: 80px;
}
.team {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.team-member {
   position: relative;
   overflow: hidden;
   width: 200px; /* Ajusta según necesites */
   height: 300px; /* Ajusta según necesites */
}

.team-member img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.3s ease-in-out;
}

/* Overlay */
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5); /* Oscurecimiento */
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

/* Texto */
.texto {
   padding: 5px;
}
.name {
   font-size: 18px;
   font-weight: bold;
   color: var(--verde-color); /* Verde Mentalis */
   margin: 0;
}

.profesion {
   margin: 0;
   font-size: 12px;
}

.role {
   font-size: 15px;
   font-weight: 500;
   text-transform: uppercase;
   margin: 0;
   color: var(--durazno-color);
}

/* Botón */
.btn {
   display: inline-block;
   padding: 8px 16px;
   color: white;
   border: 2px solid white;
   text-decoration: none;
   font-weight: bold;
   margin: 10px 0;
   transition: background 0.3s ease-in-out;
}

.btn:hover {
   background: white;
   color: black;
}

/* Efecto al pasar el mouse */
.team-member:hover img {
   transform: scale(1.1); /* Zoom en la imagen */
}

.team-member:hover .overlay {
   opacity: 1; /* Muestra el overlay */
}

.ctaMainNos {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

.ctaNos-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   text-align: center;     /* Asegura que el texto esté centrado */
   z-index: 3;
}

.ctaNos-button {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   padding: 7px 10px;
   font-size: 15px;
   font-weight: 500;
   color: black;
   background-color: #ff6b6b; /* Color principal */
   border-radius: 8px;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
}

.ctaNos-button:hover {
  background-color: #e63946; /* Color más oscuro al pasar el mouse */
   color: white !important;
}

.ctaNos-button.secondary {
   background-color: transparent;
   border: 2px solid black;
}

.ctaNos-button.secondary:hover {
   background-color: #e63946;
   color: White !important;
}

@media (max-width: 480px) {
   .ctaNos-buttons {
      flex-direction: column;;
   }
}